html, body {
  background-color: white;
  font-family: 'Comic Sans MS', sans-serif;
  margin: 0;
  
  padding-bottom: 5%;    
}

.header {
  background-color: #fff;
  height: 140px;
  text-align: center;
}

.header h1 {
  color: #31363d;
  font-size: 32px;
  margin: 0 auto;
  position: relative;
  padding-bottom: 10px;
  text-transform: uppercase;
  top: 44px;
}

.container ul {
  margin: 0 0 30px;
  height:50px; 
  padding: 20px 0px;
  text-align: center;
}

.container li {
  color: #8E685C;
  -webkit-transition:color 0.25s;
  transition:color 0.1s;
  display: inline;
  text-transform: uppercase;
  padding: 0 10px;
}

a{
text-decoration: none;
color:#4F2C0D;
}

.container li a:hover {
  text-decoration: none;
  color: #8E685C;
  cursor: pointer; 
  -webkit-transition: color 1s;
  transition: color 1s;
}

.container .row {
    text-align: center;
}
.container .row .col-md-4 {    
display: inline-block;    
}

.container .row img{
    width:300px;
    height:300px;
}

#questionaire {
    text-align: center;
}

#play{
   text-align: center; 
}

p{
text-align: center;
    position: relative;
}

.logo{
     width: 100%;
    text-align: center; }

